project/VR_NetWork/Assembly-CSharp.csproj
project/VR_NetWork/Assembly-CSharp-Editor.csproj
project/VR_NetWork/VR_NetWork.sln
project/VR_NetWork/.vs/
project/VR_NetWork/.vscode/
project/VR_NetWork/Library/
project/VR_NetWork/obj/
